 /* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and  (max-width: 320px) {


	
}

@media screen and (max-width: 400px) { 
  @-ms-viewport {
    width: 320px;
  }



} 

@media screen and (max-width: 500px) { 
 
}	

@media (max-width: 767px) { 
	.nav-justified > li > a { border-bottom: #e1e1e1 solid 1px; border-left: #e1e1e1 solid 1px; border-right: #e1e1e1 solid 1px;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav.navbar-right { margin-left: 20px}
	.navbar-nav.navbar-right li a { padding: 15px 5px}
	.right-meta { text-align: right;}
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-nav.navbar-right { margin-left: 20px}
	.navbar-nav.navbar-right li a { padding: 15px 5px}
	.right-meta { text-align: right;}
}	

@media (min-width: 1200px) {
	.container { max-width: 960px}
	.navbar-nav.navbar-right { margin-left: 20px}
	.navbar-nav.navbar-right li a { padding: 15px 5px}
	.right-meta { text-align: right;}
}






