{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<div class ="row">
<div class="col-md-12">
</div>
</div>
{{! The main content area on the homepage }}
<div class="row">
    <div class="col-md-8">
<!--     <div class="clearfix"></div>
 -->      {{> "loop"}}
    </div>
    <div class="col-md-4">
    <h4 class="headline">TOP WAYS TO SAVE MONEY</h4>

   {{#get "posts" filter="featured:true" limit="1"}}
     {{#foreach posts}}
     <a href="{{url}}"><img class="feature-thumbnail" src={{image}} />
     <h5><strong>{{title}}</strong></h5></a>
     {{/foreach}}
  {{/get}}
      <div class="fb-page"
      data-href="http://www.facebook.com/yourfinancialassistant.info/" 
      data-width="340"
      data-hide-cover="false"
      data-show-facepile="false"></div>
          </div>  
</div>
