body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    color: rgb(51,51,51);
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.page-container:before,
.page-container:after,
.page-column:before,
.page-column:after,
.clearfix:before,
.clearfix:after {
    display: table;
    content: " "
}

.page-container:after,
.page-column:after,
.clearfix:after {
    clear: both
}

.pull-left {
    float: left !important
}

.pull-right {
    float: right !important
}

.page-container,
.page-column {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto
}

.page-row {
    position: relative
}

.page-content,
.page-sidebar {
    position: relative;
    min-height: 1px;
    margin-bottom: 30px
}

.page-content p:last-child,
.page-column p:last-child {
    margin: 0
}

@media (min-width:768px) {
    .page-container,
    .page-column {
        width: 768px
    }
    .page-row>.page-sidebar {
        width: 300px;
        position: absolute;
        top: 0;
        right: 0
    }
    .page-row>.page-content {
        margin-right: 330px
    }
}

@media (min-width:992px) {
    .page-container {
        width: 992px
    }
}

a,
a:visited {
    color: #2264e6;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    outline: 0
}

a:hover,
a:focus {
    color: #1764B1
}

p {
    margin: 0 0 20px
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px
}

strong {
    font-weight: 700
}

.small {
    font-size: 85%
}

sup {
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

h1,
h3 {
    padding: 0;
    margin: 20px 0;
    line-height: 1.1;
    color: #17191c
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 0
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #BE0000;
}

h3 {
    font-size: 24px;
    font-weight: 700
}

@media (max-width:767px) {
    h1 {
        font-size: 30px
    }
    h3 {
        font-size: 22px
    }
}

.text-center {
    text-align: center
}

.text-muted {
    color: #8f95a3
}

.bb {
    border-bottom: 1px solid #ebecef;
    padding-bottom: 10px
}

.mb {
    margin-bottom: 30px
}

.mt {
    margin-top: 20px
}

.mb-sm {
    margin-bottom: 10px
}

.mt-sm {
    margin-top: 10px
}

.mb-md {
    margin-bottom: 30px
}

.mt-md {
    margin-top: 30px
}

.mb-lg {
    margin-bottom: 60px
}

.mt-lg {
    margin-top: 60px
}

a.btn {
    display: inline-block;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background: #1764B1;
    color: #fff;
    margin-top: 10px;
    word-wrap: break-word
}

@media (max-width: 499px) {
    a.btn {
        display: inline-block;
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1.33;
        border-radius: 6px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        background: #1764B1;
        color: #fff;
        margin-top: 10px;
        word-wrap: break-word
    }
}

a.btn:hover,
a.btn:focus,
a.btn:active {
    color: #fff;
    background: #115496;
    text-decoration: none
}

img {
    vertical-align: middle;
    border: 0
}

.img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.content-img {
    margin: 5px 0 20px 0
}

@media (min-width:500px) and (max-width:767px) {
    .content-img {
        float: right;
        margin-left: 20px
    }
}

@media (min-width:992px) {
    .content-img {
        float: right;
        margin-left: 20px
    }
}

@media (max-width: 499px) {
    .content-img-geo-hero {
        width: 100%;
        margin: 0 0 10px 0
    }
}

@media (min-width:500px) and (max-width:767px) {
    .content-img-geo-hero {
        float: right;
        margin: 5px 0 10px 40px;
    }
}

@media (min-width: 768px) {
    .content-img-geo-hero {
        float: right;
        margin: 5px 0 10px 25px
    }
}

blockquote {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 16px;
    background: #fbefd9;
    color: #64460b;
    font-weight: 400
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0
}

.disclaimer-bg {
    background: #f4f4f6;
    color: #5c6270
}

.disclaimer {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
}

.disclaimer-revcontent {
    font-size: 19px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center
}

.disclaimer-taboola {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

#footer .disclaimer {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    background: transparent;
    font-style: normal
}

#footer .disclaimer-revcontent {
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    background: transparent;
    font-style: normal
}

#header {
    padding: 10px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #ebecef;
    background: #fff;
    color: #5c6270
}

#header .logo {
    width: 350px;
    height: 20px;
    background-image: url('./logo.png');
    float: left;
    margin: 22px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    #header .logo {
        background-image: url('./logo.png');
    }
}

#header .nav {
    float: right;
    margin: 0;
    margin-right: -15px
}

@media (max-width:992px) {
    #header .nav {
        display: none
    }
}

#header .nav>li {
    position: relative;
    display: block;
    float: left
}

#header .nav>li>a {
    position: relative;
    display: block;
    padding: 20px 15px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: none;
    font-weight: 400;
    text-decoration: none
}

#header .nav>li>a {
    color: #5c6270
}

#header .nav>li>a:hover,
#header .nav>li>a:focus {
    color: #2e3138;
    background: transparent
}

#header .nav>li.active>a,
#header .nav>li.active>a:hover,
#header .nav>li.active>a:focus {
    border-bottom: 2px solid #1764B1;
    padding-bottom: 5px;
    font-weight: 500
}

#header .nav>li.active>a,
#header .nav>li.active>a:hover,
#header .nav>li.active>a:focus {
    color: #2e3138
}

#footer {
    padding: 60px 0;
    margin-top: 30px;
    font-size: 14px;
    word-wrap: break-word;
    background: #2e3138;
    color: #abb0ba
}

#footer p:last-child {
    margin: 0
}

#footer a,
#footer a:hover,
#footer a:visited {
    color: #abb0ba;
    font-weight: 400
}

#footer a:before {
    content: '\00B7';
    padding: 0 5px
}

#footer hr {
    margin: 20px 0;
    border: 0;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 1px solid #454a54
}

.body-img {
    margin: 5px;
    width: 100%;
}

a.btn-green {
    display: inline-block;
    padding: 10px 16px;
    font-size: 24px;
    width: 100%;
    line-height: 1.33;
    border-radius: 6px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background: #7CD520;
    color: #fff;
    word-wrap: break-word
}

a.btn-green:hover,
a.btn-green:focus,
a.btn-green:active {
    color: #fff;
    background: #6DB624;
    text-decoration: none
}